

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 text-center">
      <footer role="container">
        <p><small>Copyright &copy; Natronimus &amp; Natron Rom</small></p>
      </footer>
    </div>
  </div>
</div>
